body {
    background-color: #242424;
    color: #EEEEEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: scroll;
    text-align: center;
}

input[type="number"] {
    width: 50px;
}

input, select, button {
    background-color: #151515;
    color: #EEEEEE;
    border: 2px solid #151515;
    margin: 1px;
    outline: none!important;
    border-radius: 4px;
}

input:focus, select:focus, button:focus {
    border-color: deeppink;
}

button {
    padding: 6px 12px;
}

#outCan {
    max-width: 100%;
    max-height: 50vh;
}

svg {
    height: 0;
    width: 0;
    opacity: 0;
}